<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>パスワード変更</title>
<meta charset="UTF-8">
</head>
<body>
<a th:href="@{/index}">トップページへ</a>

<form th:action="@{/index/mypage/changepassword/update}" method="post" th:object="${PasswordChangeForm}">
<p th:text="${message}"></p>
    <div>
	    <input type="hidden" name="userName" id="userName" th:field="*{userName}">
	</div>
	<div>
	    <label for="mail">メールアドレス</label> 
	    <input type="text" name="mail" id="mail" th:field="*{mail}"
	    　　　　　　　placeholder="メールアドレスを入力してくさだい">
	    <div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" th:errorclass="err"></div>
	</div>
	<div>
	    <label for="oldPassword">現在のパスワード</label> 
	    <input type="password" name="oldPassword" id="oldPassword" th:field="*{oldPassword}" 
	           placeholder="現在使用中のパスワードを入力してください">
	    <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" th:errorclass="err"></div>
	</div>
	<div>
	    <label for="password">新パスワード</label> 
	    <input type="password" id="password" name="password" th:field="*{password}"
	           placeholder="新しく設定するパスワードを8文字以上で入力してください">
	    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="err"></div>
	</div>
	<div>
	    <label for="confirmPassword">新パスワード(確認)</label> 
	    <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}"
	           placeholder="新しく設定したパスワードをもう一度入力してください">
	    <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:errorclass="err"></div>
	</div>
	<div>
	    <button type="submit">更新する</button>
	</div>
</form>

</body>
</html>