<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>プロフィール編集</title>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div th:replace="flagment/header :: user-header"></div>
<h2>プロフィール編集</h2>
<div class="container">
	<form class="col-sm-6" th:action="@{/index/mypage/edit/update}" method="post" th:object="${AccountInfoForm}">
	<p th:text="${message}"></p>
	    <div>
		    <input type="hidden" name="userName" id="userName" th:field="*{userName}">
		</div>
		<div class="form-group">
		    <label for="nickName">ニックネーム</label> 
		    <input class="form-control" type="text" name="nickName" id="nickName" th:field="*{nickName}"
		    　　　　　　　placeholder="設定したニックネームは他ユーザに表示されます">
		    <div th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" th:errorclass="error-messages"></div>
		</div>
		<div class="form-group">
		    <label for="profile">プロフィール</label> 
		    <textarea class="form-control" name="profile" id="profile" th:field="*{profile}" 
		              placeholder="50文字以内でプロフィールを記入してください"></textarea>
		    <div th:if="${#fields.hasErrors('profile')}" th:errors="*{profile}" th:errorclass="error-messages"></div>
		</div>
		<div class="form-group">
		    <label for="status">健康状態</label> 
		    <select class="form-control" id="status" name="status">
		        <option th:each="list:${statusList}" 
		                th:value="${list.statusId}" th:text="${list.statusName}"
		                th:selected="${list.statusId} == *{status}">
		        </option>
		    </select>
		</div>
		<div class="form-group">
		    <label for="gender">性別</label> 
		    <select class="form-control" id="gender" name="gender" th:field="*{gender}">
		        <option value="0">未設定</option>
		        <option value="1">男性</option>
		        <option value="2">女性</option>
		        <option value="3">なし</option>
		    </select>
		</div>
		<div class="form-group">
		    <label for="age">年齢</label> 
		    <select class="form-control" id="age" name="age" th:field="*{age}">
		        <option value="0">未設定</option>
		        <option value="1">10代以下</option>
		        <option value="2">20代</option>
		        <option value="3">30代</option>
		        <option value="4">40代</option>
		        <option value="5">50代</option>
		        <option value="6">60代</option>
		        <option value="7">70代</option>
		        <option value="8">80代以上</option>
		    </select>
		</div>
		<div>
		    <button type="submit">更新する</button>
		</div>
	</form>
</div>

<br>
<a th:href="@{/index/mypage}">マイページへ戻る</a>
<br>
<a th:href="@{/index/mypage/changepassword}">パスワードを変更する</a>
<br>
<a th:href="@{/index/mypage/confirm}">退会する</a>

</body>
</html>