<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dining.boyaki.model.mapper.DiaryRecordMapper">

    <select id="findAllDiaryRecords" resultType="com.dining.boyaki.model.entity.DiaryRecord">
        SELECT
            username,categoryid,diaryday,record1,record2,record3
        FROM
            diary_record
        WHERE
            username = #{userName}
        ORDER BY
            diaryday,categoryid
    </select>

    <select id="findOneDiaryRecord" resultType="com.dining.boyaki.model.entity.DiaryRecord">
        SELECT
            username,categoryid,diaryday,record1,record2,record3,imagename,memo,createat,updateat
        FROM
            diary_record
        WHERE
            username = #{userName}
        AND categoryid = #{categoryId}
        AND diaryday = #{diaryDay}
    </select>
    
    <insert id="insertDiaryRecord">
        INSERT INTO
            diary_record(username,categoryid,diaryday,record1,record2,record3,imagename,memo,createat,updateat)
        VALUES
           (#{userName},
            #{categoryId},
            #{diaryDay},
            #{record1},
            #{record2},
            #{record3},
            #{imageName},
            #{memo},
            #{createAt},
            #{updateAt})
    </insert>
    
    <update id="updateDiaryRecord" parameterType="com.dining.boyaki.model.entity.DiaryRecord">
        UPDATE
            diary_record
        SET
            username = #{userName},
            categoryid = #{categoryId},
            diaryday = #{diaryDay},
            record1 = #{record1},
            record2 = #{record2},
            record3 = #{record3},
            imagename = #{imageName},
            memo = #{memo},
            updateat = #{updateAt}
        WHERE 
            username = #{userName}
        AND createat = #{createAt}
    </update>
    
    <delete id="deleteDiaryRecord">
        DELETE
        FROM
            diary_record
        WHERE
            username = #{userName}
        AND categoryid = #{categoryId}
        AND diaryday = #{diaryDay}
    </delete>

</mapper>