<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dining.boyaki.model.mapper.PasswordHistoryMapper">

    <select id = "findPassword" resultType = "String"
                                parameterType="String">
        SELECT
            password
        FROM
            account
        WHERE
            username = #{userName}
        AND mail = #{mail}
    </select>
    
    <select id="findUseFrom" resultType="com.dining.boyaki.model.entity.PasswordHistory">
        SELECT
            username,
            password,
            useday
        FROM
            password_history
        WHERE
            username = #{userName}
        AND useday >= #{useDay}
        ORDER BY useday DESC
    </select>

</mapper>