<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dining.boyaki.model.mapper.RegistrationMapper">

    <select id = "findUserName" resultType="String" 
                               parameterType="String">
        SELECT
            USERNAME
        FROM
            ACCOUNT
        WHERE
           USERNAME = #{userName}
    </select>
    
    <insert id = "insertAccount">
        INSERT INTO
            ACCOUNT(USERNAME, PASSWORD, MAIl, ROLE)
        VALUES(
               #{userName},
               #{password},
               #{mail},
               #{role})
    </insert>
    
    <insert id = "insertPasswordHistory">
        INSERT INTO
            Password_History(USERNAME, PASSWORD, USEDAY)
        VALUES(
               #{userName},
               #{password},
               #{useDay})
    </insert>
    
</mapper>