<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dining.boyaki.model.mapper.UpdatePasswordMapper">
    
    <update id = "updatePassword" parameterType="com.dining.boyaki.model.entity.Account">
        UPDATE
            account
        SET 
            password = #{password}
        WHERE 
            mail = #{mail}
    </update>
    
    <insert id = "insertPasswordHistory" parameterType="com.dining.boyaki.model.entity.Account">
        INSERT INTO
            password_history(username, password, useday)
        VALUES(
               #{userName},
               #{password},
               #{useDay})
    </insert>
</mapper>