<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>投稿詳細</title>
</head>

<body>
<div th:replace="flagment/header :: user-header"></div><hr>
<h2>投稿詳細</h2>
<table id="likesApp" th:each="obj:${postRecord}">
	<tr>
	    <td style="font-size:32px" th:text="${obj.content}"></td>
	</tr>
	<tr>
        <td th:inline="text" style="font-size:14px">[[${obj.nickName}]]さん 
            <span style="font-size:14px">健康状態：[[${obj.status}]]</span>
        </td>
    </tr>
	<tr>
	    <td style="font-size:14px" th:inline="text">
	        <div>投稿種別:[[${obj.postCategory}]] 投稿日時:[[${obj.createAt}]]</div>
	    </td>
	</tr>
    <tr>
        <td>
            <span style="cursor: pointer;font-size:20px;" v-on:click="likes">いいね</span>
            <span style="font-size:20px;" id="sumRate" th:fragment="rateFragment">
	            <span th:text="${sumRate}"></span>
			</span>
        </td>
    </tr>
	<tr>
	    <td>
		    <form th:action="@{/index/boyaki/post/delete}" method="post">
				<input type="hidden" id="postId" name="postId" th:value="${obj.postId}">
				<div th:if="${ableDeleted}">
				     <input type="submit" value="削除" onClick="return check()">
				</div>
		    </form>
	    </td>
	</tr>
</table>
</body>

<script th:src="@{/js/likesApp.js}">
</script>

</html>