<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>ぼやく</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div th:replace="flagment/header :: user-header"></div>
<h2>ぼやく</h2>
<div class="container">
	<form th:action="@{/index/boyaki/post/insert}" method="POST" th:object="${postForm}">
	<div class="col-sm-6">
	    <input type="hidden" id="userName" name="userName" th:field="*{userName}">
	    <input type="hidden" id="nickName" name="nickName" th:field="*{nickName}">
	    <div class="form-group">
		    <label for="postCategory">投稿の分類</label>
		    <select class="form-control" id="postCategory" name="postCategory">
		            <option th:each="list:${postCategory}" 
		                    th:value="${list.postId}" th:text="${list.postName}"></option>
		    </select>
	    </div>
	    <div class="form-group">
		    <label for="content">投稿内容</label>
	        <textarea class="form-control" id="content" name="content"　th:field="*{content}"></textarea>
	        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" th:errorclass="err"></div>
	    </div>
	    <div><br>
		    <input type="submit" value="投稿する" onClick="return check()">
		</div>
	</div>
	</form>
</div>
<script type="text/javascript">
function check(){
    if (confirm("投稿内容に不適切な内容がないか確認してください")) {
        return true;
    } else {
        return false;
    }
}
</script>
</body>
</html>