<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>投稿詳細</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div th:replace="flagment/header :: user-header"></div>
<h2>投稿詳細</h2>
<div class="container" id="likesApp" th:each="obj:${postRecord}">
	<article class="col-sm-8">
	    <div style="font-size:28px" th:text="${obj.content}"></div>
	    <div th:inline="text" style="font-size:14px">
	        [[${obj.nickName}]]さん ([[${obj.status}]])
	    </div>
		<div class="between-blocks">
			<span style="font-size:14px" th:inline="text">
			    [[${obj.postCategory}]] [[${obj.createAt}]]
			</span>
			<form th:action="@{/index/boyaki/post/delete}" method="post">
			    <input type="hidden" id="postId" name="postId" th:value="${obj.postId}">
				<div th:if="${ableDeleted}">
				    <input type="submit" value="削除" onClick="return check()">
				</div>
			</form>
		</div>
		<div class="form-button">
		    <span style="color: #1760a0; cursor: pointer;font-size:22px;" v-on:click="likes">いいね</span>
		    <span style="font-size:22px;" id="sumRate" th:fragment="rateFragment">
			        &nbsp;<span th:text="${sumRate}"></span>
			</span>
		</div><hr><br>
		<div v-for="(value,key) in CommentRecords" class="blocklink">
			<div style="font-size: 24px;">{{value.content}}</div>
			<div class="between-blocks" style="font-size:14px">
			    <span>{{value.nickName}}さん ({{value.status}})</span>
			    <span>{{value.createAt}}</span>
			</div><hr>
		</div>
		<input type="button" class="col-sm-12" id="scroll" value="コメントを読み込む"
		       v-on:click="search" v-bind:disabled="disabled" />
	</article><br>
	<div class="col-sm-8">
		<form class="form-group" th:action="@{/index/boyaki/comment}" th:object=${commentForm} method="post">
		    <textarea class="form-control" id="content" name="content" th:field="*{content}"
		              placeholder="1~100文字以内でコメントを記入してください"></textarea>
		    <input type="hidden" id="userName" name="userName" th:field="*{userName}">
		    <input type="hidden" id="nickName" name="nickName" th:field="*{nickName}">
		    <input type="hidden" id="postId" name="postId" th:field="*{postId}"><br>
		<div class="form-button">
		    <span th:text=${validMessage}></span>
		    <button type="submit">コメントする</button>
		</div>
		</form>
	</div>
</div>
</body>

<script th:src="@{/js/likesApp.js}">
</script>

</html>