<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>プロフィール - Boyaki-Dining</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/jpg" th:href="@{/images/favicon.jpg}">
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
<div th:replace="flagment/header :: user-header"></div>
<div class="between-blocks">
	<h2>投稿一覧</h2>
	<h4><a th:href="@{/index/boyaki/post}">投稿する
	    <img th:src="@{/images/吹き出しアイコン.png}"></a>
	</h4>
</div>
<div id="profileApp" class="container">
    <div class="row" th:each="obj:${accountInfo}">
        <aside class="col-sm-3">
		    <div class="area">
			    <p id="nickName" th:text="${obj.nickName}"></p>
			    <span th:each="status:${statusList}">
				    <span th:if="*{status.statusId} == ${obj.status}"
						  th:text="*{status.statusName}">
				    </span>
			    </span>&nbsp;
				<span>
				    <span th:if="0 == ${obj.gender}">未設定</span>
					<span th:if="1 == ${obj.gender}">男性</span>
					<span th:if="2 == ${obj.gender}">女性</span>
					<span th:if="3 == ${obj.gender}">なし</span>
					&nbsp;
					<span th:switch="${obj.age}">
					    <span th:case="0">未設定</span>
						<span th:case="1" th:inline="text">[[${obj.age}]]0代以下</span>
						<span th:case="8"　th:inline="text">[[${obj.age}]]0代以上</span>
						<span th:case="*" th:inline="text">[[${obj.age}]]0代</span>
					</span>
				</span>
				<pre th:text="${obj.profile}"></pre>
		    </div>
		</aside>
	    <article class="col-sm-9">
		    <div v-for="(value,key) in PostRecords">
			    <a v-bind:href="`/index/boyaki/${value.postId}`">
				    <p>{{value.content}}</p>
				</a>
				<span>{{value.createAt}}</span><hr>
		    </div>
		    <input type="button" class="col-sm-12" id="scroll" value="追加で読み込む"
		           v-on:click="find" v-bind:disabled="disabled" />
	    </article>
    </div>
</div>
<script th:src="@{/js/profileApp.js}">
</script>
</body>
</html>