html{
	font-size:100%
	}
body{
	line-height:1.7;
	color:#432;
	background-color: #d7cebb;
	}
h2 {
    margin: 20px 0 20px 0;
    color: gray;
    }
h4 {
	margin: 20px 10px 0 0;
}
a {
	text-decoration: none;
	color: #1760a0;
}
hr {
	border-bottom: 2px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 0 rgba(255,255,255,1);
}
textarea {
	resize: none;
}

.pageHeader{
	background-color: #d2d200;
	display:flex;
	justify-content:space-between;
}
.blocks{
	display:flex;
	}
.between-blocks{
	display:flex;
	justify-content: space-between;
}
.form-button{
	text-align: right;
}
.sub-area{
	padding: 10px; 
	margin-bottom: 10px; 
	border: 1px solid #333333;
	box-shadow:1px 1px rgba(255,255,255,1);
}
.error-messages {
    color: red;
    display: block;
    padding-left: 5px;
    overflow-x: auto;
}