<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head chaeset="UTF-8">
    <title>パスワードの再設定 - Boyaki-Dining</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/jpg" th:href="@{/images/favicon.jpg}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="flagment/loginheader :: login-header"></div>
<div class="container">
    <h2>パスワードの再設定</h2>
    <form class="form-height" th:action="@{/updatePassword}" method="post" th:object="${registerForm}">
	    <div class="col-sm-6">
	        <div class="row card forms">
		        <div class="form-group">
		            <label for="mail">メールアドレス</label>
		            <input class="form-control" type="text" id="mail" name="mail"
		                   th:value="*{mail}">
		            <div th:if="#{fields.hasErrors('mail')}"
		                 th:errors="*{mail}" th:errorclass="error-messages"></div>
		        </div>
		        <div class="form-group">
		            <label for="password">新しいパスワード</label>
		            <input class="form-control" type="password" id="password" name="password"
		                   th:value="*{password}" placeholder="8~16文字の半角英数字で入力してください">
		            <div th:if="#{fields.hasErrors('password')}"
		                 th:errors="*{password}" th:errorclass="error-messages"></div>
		        </div>
		        <div class="form-group">
		            <label for="confirmPassword">新しいパスワード(再入力)</label>
		            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
		                   th:value="*{confirmPassword}" placeholder="パスワードを再入力してください">
		            <div th:if="#{fields.hasErrors('confirmPassword')}"
		                 th:errors="*{confirmPassword}" th:errorclass="error-messages"></div>
		        </div><br>
		        <div class="form-button">
		            <button class="btn btn-orange" type="submit">パスワードを更新する</button>
		            <div class="error-messages" th:text="${guestError}"></div>
		        </div>
	        </div>
	    </div>
    </form>
    <a th:href="@{/login}">ログイン画面へ戻る</a><br>
    <a th:href="@{/}">トップへ戻る</a><br><br>
</div>
<div th:replace="flagment/footer :: common-footer"></div>
</body>
</html>