<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head chaeset="UTF-8">
<title>パスワードの再設定</title>
</head>
<body>
<form th:action="@{/updatePassword}" method="post" th:object="${registerForm}">
<table>
    <tr>
        <td>メールアドレス</td>
        <td>
            <label for="mail">
            <input type="text" id="mail" name="mail"
                   th:value="*{mail}" th:errorclass="err">
            <div th:if="#{fields.hasErrors('mail')}"
                 th:errors="*{mail}" th:errorclass="err"></div>
            </label>
        </td>
    </tr>
    <tr>
    　　　　<td>新しいパスワード</td>
        <td>
            <label for="password">
            <input type="password" id="password" name="password"
                   th:value="*{password}" th:errorclass="err"
                   placeholder="8文字以上の半角英数字で入力してください">
            <div th:if="#{fields.hasErrors('password')}"
                 th:errors="*{password}" th:errorclass="err"></div>
            </label>
        </td>
    </tr>
    <tr>
    　　　　<td>新しいパスワード(再入力)</td>
        <td>
            <label for="confirmPassword">
            <input type="password" id="confirmPassword" name="confirmPassword"
                   th:value="*{confirmPassword}" th:errorclass="err"
                   placeholder="パスワードを再入力してください">
            <div th:if="#{fields.hasErrors('confirmPassword')}"
                 th:errors="*{confirmPassword}" th:errorclass="err"></div>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit">登録</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>